* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    border: 2px solid black;
    border-radius: 20px;
    height: 70%;
    width: 60%;
}

.main-card {
    display: flex;
    height: 100%;
    background-color: white;
    border-radius: 30px 0 0 30px;
}

.left-card {
    width: 70%;
    height: 100%;
    overflow: hidden;

}

.left-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.right-card {
    margin-top: 60px;
    margin-left: 80px;
    width: 50%;
}

#h1{
    color: black;
}

p {
    margin-top: 20px;
}

.options {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.option-btn {
    text-align: center;
    line-height: 28px;
    text-decoration: none;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: black;
    color: white;
    width: 200px;
    height: 30px;
}

.option-btn:hover {
    background-color: white;
    color: black;
}